{% block title %}<title>{{ Starship.name }}</title>{% endblock %}

{% block body %}
    <h1>{{Starship.name}}</h1>

       {% dump Starship %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ Starship.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ Starship.name }}</td>
            </tr>
            <tr>
                <th>Agency : </th>
                <td><a href="{{ path('agency_show',{'id':Starship.agency.id})}}">{{ Starship.agency.name }}</a></td>
            </tr>

        </tbody>
    </table>

{% endblock %} {# body #} 
{# ... #} 
